.branding-corner:hover .title {
  animation: title-wave 560ms ease-in-out;
}
@keyframes title-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .branding-corner:hover .title {
    animation: none;
  }
  .branding-corner .title {
    animation: title-wave 560ms ease-in-out;
  }
}
